/*general margin and borders*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f19530;
}

body div.micalculadora{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 240px;
    margin: auto;
    background: #025460;
    border-radius: 10px;
}
div input[type='button'], button{
    width: 40px;
    height: 40px;
    margin: 3px 0;
}
/* styles for the numbers*/
div input[type='text']{
    height: 40px;
    width: 200px;
    background-color: #f2ebd5;
    color: black; 
    padding: 12px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #777;
}
/* styles for the result*/
div.resultado input,  div.resultado button{
   height: 40px;
   width: 85px;
   margin-top: 2px;
   margin-bottom: 8px;
   border-radius: 4px;
}

div.resultado button{
   background-color: red;
   color: white;
   border: 1px solid #A91225;
}
div.resultado input{
    background-color: #f24607;
    color: white;
    border: 1px solid #Ff7300;
 }

 #suma, #resta, #multip, #division, #porciento{
     background-color: #458570;
     color: white;
     border: 1px solid #777;
     font-size: 16px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }